
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-image: url('../../assets/img/bottom-section-bg.svg');
    baackground-repeat: no-repeat;
    background-position: bottom;
}

.schedule-container {
    background: white;
    padding: 50px;
    margin-top: 55px;
    margin-left: 205px;
    margin-right: 105px;
    margin-bottom: 55px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.match {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.match-number {
    font-weight: bold;
    color: #ff5722;
}

.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}
